'scopeName': 'source.curry'
'name': 'Curry'
'fileTypes': [
  'curry'
]
'patterns': [
  {
    'include': '#curry_source'
  }
]
'repository':
  'assignment_operator':
    'name': 'keyword.operator.assignment.curry'
    'match': '(?<![~!@#$%^&*+\-=<>?./|\\\\:])=(?![~!@#$%^&*+\-=<>?./|\\\\:])'
  'attribute_name':
    'match': '(?:((?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*)(\\.))?([a-z](?:\\w|\')*)'
    'captures':
      '1':
        'name': 'entity.name.module.curry'
      '2':
        'name': 'punctuation.separator.dot.curry'
      '3':
        'name': 'entity.other.attribute-name.curry'
  'block_comment':
    'name': 'comment.block.curry'
    'begin': '{-'
    'end': '-}'
    'applyEndPatternLast': 1
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.block.start.curry'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.comment.block.end.curry'
    'patterns': [
      {
        'include': '#block_comment'
      }
    ]
  'comma_separator':
    'name': 'punctuation.separator.comma.curry'
    'match': ','
  'comment':
    'patterns': [
      {
        'begin': '^(?=---(?!-))'
        'end': '(?!\\G)'
        'patterns': [
          {
            'name': 'comment.line.triple-dash.currydoc.curry'
            'begin': '---(?!-)'
            'end': '\\n'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.currydoc.curry'
            'patterns': [
              {
                'name': 'keyword.other.documentation.currydoc.curry'
                'match': '@(?:author|category|return|version)(?=\\s)'
              }
              {
                'match': '(@cons)\\s+(\\S+)'
                'captures':
                  '1':
                    'name': 'keyword.other.documentation.currydoc.curry'
                  '2':
                    'patterns': [
                      {
                        'include': '#type_constructor_name'
                      }
                      {
                        'include': '#invalid'
                      }
                    ]
              }
              {
                'match': '(@field)\\s+(\\S+)'
                'captures':
                  '1':
                    'name': 'keyword.other.documentation.currydoc.curry'
                  '2':
                    'patterns': [
                      {
                        'include': '#attribute_name'
                      }
                      {
                        'include': '#invalid'
                      }
                    ]
              }
              {
                'match': '(@param)\\s+(\\S+)'
                'captures':
                  '1':
                    'name': 'keyword.other.documentation.currydoc.curry'
                  '2':
                    'patterns': [
                      {
                        'name': 'variable.parameter.curry'
                        'match': '[a-z](?:\\w|\')*'
                      }
                      {
                        'include': '#invalid'
                      }
                    ]
              }
            ]
          }
        ]
      }
      {
        'begin': '(?:^[ \\t]+)?(?=--+(?![~!@#$%^&*+\-=<>?./|\\\\:]))'
        'end': '(?!\\G)'
        'patterns': [
          {
            'name': 'comment.line.double-dash.curry'
            'begin': '--'
            'end': '\\n'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.curry'
          }
        ]
      }
      {
        'include': '#block_comment'
      }
    ]
  'curry_expression':
    'patterns': [
      {
        'include': '#infix_function'
      }
      {
        'include': '#unit'
      }
      {
        'include': '#empty_list'
      }
      {
        'include': '#keyword'
      }
      {
        'include': '#pragma'
      }
      {
        'include': '#string'
      }
      {
        'include': '#quoted_character'
      }
      {
        'include': '#comment'
      }
      {
        'include': '#infix_operator'
      }
      {
        'include': '#comma_separator'
      }
      {
        'include': '#numeric_literal'
      }
      {
        'include': '#assignment_operator'
      }
      {
        'include': '#pipe_separator'
      }
      {
        'include': '#operator'
      }
      {
        'include': '#type_constructor_name'
      }
      {
        'include': '#identifier'
      }
    ]
  'curry_preprocessor':
    'name': 'meta.preprocessor.curry'
    'begin': '``(?=format|printf|regex|html|xml|sql)'
    'end': '\'\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.preprocessor.begin.curry'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.preprocessor.end.curry'
  'curry_source':
    'patterns': [
      {
        'include': '#module_declaration'
      }
      {
        'include': '#import'
      }
      {
        'include': '#data_declaration'
      }
      {
        'include': '#type_alias'
      }
      {
        'include': '#curry_preprocessor'
      }
      {
        'include': '#function_type_declaration'
      }
      {
        'include': '#curry_expression'
      }
    ]
  'data_declaration':
    'name': 'meta.declaration.data.curry'
    'begin': '^([ \\t]*)(data|newtype)\\s+((?:(?!=).)*)'
    'end': '^(?!\\1[ \\t]|[ \\t]*$)'
    'beginCaptures':
      '2':
        'name': 'keyword.other.$2.curry'
      '3':
        'name': 'meta.type-signature.curry'
        'patterns': [
          {
            'include': '#type_signature'
          }
        ]
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#assignment_operator'
      }
      {
        'match': '(?:(?:((?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?[A-Z](?:\\w|\')*))\\s*)(?:((?:(?!deriving)(?:(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?[A-Z](?:\\w|\')*)|(?:(?:[a-z](?:\\w|\')*)|_)|(?:(?:[\\w()\'\\[\\],]|->)+\\s*)+))(?:(?:\\s+)(?:(?:(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?[A-Z](?:\\w|\')*)|(?:(?:[a-z](?:\\w|\')*)|_)|(?:(?:[\\w()\'\\[\\],]|->)+\\s*)+)))*)?))'
        'captures':
          '1':
            'patterns': [
              {
                'include': '#type_constructor_name'
              }
            ]
          '2':
            'name': 'meta.type-signature.curry'
            'patterns': [
              {
                'include': '#type_signature'
              }
            ]
      }
      {
        'include': '#pipe_separator'
      }
      {
        'name': 'meta.declaration.data.record.curry'
        'begin': '{'
        'end': '}'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.record.begin.curry'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.record.end.curry'
        'patterns': [
          {
            'include': '#comment'
          }
          {
            'include': '#comma_separator'
          }
          {
            'include': '#record_field_declaration'
          }
        ]
      }
    ]
  'empty_list':
    'name': 'constant.language.empty-list.curry'
    'match': '\\[\\]'
  'escaped_character':
    'patterns': [
      {
        'name': 'constant.character.escape.curry'
        'match': '\\\\(?:NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'&])'
      }
      {
        'name': 'constant.character.escape.decimal.curry'
        'match': '\\\\[0-9]+'
      }
      {
        'name': 'constant.character.escape.octal.curry'
        'match': '\\\\o[0-7]+'
      }
      {
        'name': 'constant.character.escape.hexadecimal.curry'
        'match': '\\\\x[0-9A-Fa-f]+'
      }
      {
        'name': 'constant.character.escape.control.curry'
        'match': '\\\\\\^[A-Z@\\[\\]^_]'
      }
    ]
  'function_name':
    'match': '(?:((?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*)(\\.))?([a-z](?:\\w|\')*)'
    'captures':
      '1':
        'name': 'entity.name.module.curry'
      '2':
        'name': 'punctuation.separator.dot.curry'
      '3':
        'name': 'entity.name.function.curry'
  'function_type_declaration':
    'name': 'meta.declaration.function.curry'
    'contentName': 'meta.type-signature.curry'
    'begin': '^([ \\t]*)((?:(?:[a-z](?:\\w|\')*)|(?:\\((?!--+\\))[~!@#$%^&*+\-=<>?./|\\\\:]+\\)))(?:\\s*,\\s*(?:(?:[a-z](?:\\w|\')*)|(?:\\((?!--+\\))[~!@#$%^&*+\-=<>?./|\\\\:]+\\))))*)\\s*(::)(?![~!@#$%^&*+\-=<>?./|\\\\:])'
    'end': '^(?!\\1[ \\t]|[ \\t]*$)'
    'beginCaptures':
      '2':
        'patterns': [
          {
            'include': '#function_name'
          }
          {
            'include': '#infix_operator'
          }
          {
            'include': '#comma_separator'
          }
        ]
      '3':
        'name': 'keyword.other.double-colon.curry'
    'patterns': [
      {
        'include': '#type_signature'
      }
    ]
  'identifier':
    'match': '(?:((?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*)(\\.))?([a-z](?:\\w|\')*)'
    'captures':
      '1':
        'name': 'entity.name.module.curry'
      '2':
        'name': 'punctuation.separator.dot.curry'
      '3':
        'name': 'identifier.curry'
        'patterns': [
          {
            'name': 'support.function.prelude.$0.curry'
            'match': '(?<!\\w|\')(?:all|and|any|anyOf|appendFile|apply|break|catch|chr|compare|concat|concatMap|cond|const|curry|div|divMod|done|doSolve|drop|dropWhile|either|elem|ensureNotFree|ensureSpine|enumFrom|enumFromThen|enumFromThenTo|enumFromTo|error|failed|filter|flip|foldIO|foldl|foldl1|foldr|foldr1|forIO|forIO_|fst|getChar|getLine|groundNormalForm|head|id|if_then_else|ioError|iterate|length|liftIO|lines|lookup|map|mapIO|mapIO_|max|maybe|min|mod|negate|negateFloat|normalForm|not|notElem|null|or|ord|otherwise|prim_appendFile|prim_chr|prim_error|prim_ioError|prim_ord|prim_putChar|prim_readFile|prim_show|prim_writeFile|print|putChar|putStr|putStrLn|quot|quotRem|readFile|rem|repeat|replicate|return|reverse|seq|sequenceIO|sequenceIO_|show|showError|snd|solve|span|splitAt|success|tail|take|takeWhile|uncurry|unknown|unless|unlines|until|unwords|unzip|unzip3|userError|when|words|writeFile|zip|zip3|zipWith|zipWith3)(?!\\w|\')'
          }
        ]
  'import':
    'name': 'meta.import.curry'
    'begin': '^([ \\t]*)(import)(?=\\s)'
    'end': '^(?!\\1[ \\t]|[ \\t]*$)'
    'beginCaptures':
      '2':
        'name': 'keyword.other.import.curry'
    'patterns': [
      {
        'include': '#module_name'
      }
      {
        'include': '#module_exports'
      }
      {
        'name': 'keyword.other.$0.curry'
        'match': '(?<!\\w|\')(?:qualified|as|hiding)(?!\\w|\')'
      }
      {
        'include': '#comment'
      }
    ]
  'infix_function':
    'match': '(`)(\\S+)(`)'
    'captures':
      '1':
        'name': 'punctuation.definition.operator.function.infix.start.curry'
      '2':
        'patterns': [
          {
            'include': '#function_name'
          }
          {
            'include': '#invalid'
          }
        ]
      '3':
        'name': 'punctuation.definition.operator.function.infix.end.curry'
  'infix_operator':
    'match': '(?:((?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*)(\\.))?(\\((?!--+\\))[~!@#$%^&*+\-=<>?./|\\\\:]+\\))'
    'captures':
      '1':
        'name': 'entity.name.module.curry'
      '2':
        'name': 'punctuation.separator.dot.curry'
      '3':
        'name': 'entity.name.function.infix.curry'
  'invalid':
    'name': 'invalid.illegal.character-not-allowed-here.curry'
    'match': '\\S+'
  'keyword':
    'patterns': [
      {
        'name': 'keyword.other.$0.curry'
        'match': '(?<!\\w|\')(?:where|data|type|newtype|external|free)(?!\\w|\')'
      }
      {
        'name': 'keyword.operator.$0.curry'
        'match': '(?<!\\w|\')infix[lr]?(?!\\w|\')'
      }
      {
        'name': 'keyword.control.$0.curry'
        'match': '(?<!\\w|\')(?:do|if|then|else|case|fcase|of|let|in)(?!\\w|\')'
      }
    ]
  'module_declaration':
    'name': 'meta.declaration.module.curry'
    'begin': '^([ \\t]*)(module)(?!\\w|\')'
    'end': '(?<!\\w|\')(where)(?!\\w|\')|(?:^(?!\\1[ \\t]|[ \\t]*$))'
    'beginCaptures':
      '2':
        'name': 'keyword.other.module.curry'
    'endCaptures':
      '1':
        'name': 'keyword.other.where.curry'
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#module_name'
      }
      {
        'include': '#module_exports'
      }
      {
        'include': '#invalid'
      }
    ]
  'module_exports':
    'patterns': [
      {
        'name': 'meta.declaration.exports.curry'
        'begin': '\\('
        'end': '\\)'
        'applyEndPatternLast': 1
        'patterns': [
          {
            'include': '#comment'
          }
          {
            'include': '#type_name'
          }
          {
            'include': '#function_name'
          }
          {
            'include': '#comma_separator'
          }
          {
            'name': 'meta.other.constructor-list.curry'
            'begin': '\\s*\\('
            'end': '\\)'
            'patterns': [
              {
                'include': '#type_constructor_name'
              }
              {
                'include': '#attribute_name'
              }
              {
                'include': '#comma_separator'
              }
              {
                'name': 'keyword.operator.wildcard.curry'
                'match': '\\.\\.'
              }
            ]
          }
          {
            'include': '#infix_operator'
          }
        ]
      }
    ]
  'module_name':
    'name': 'entity.name.module.curry'
    'match': '(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*'
  'numeric_literal':
    'patterns': [
      {
        'name': 'constant.numeric.hexadecimal.curry'
        'match': '0[xX][0-9A-Fa-f]+'
      }
      {
        'name': 'constant.numeric.octal.curry'
        'match': '0[oO][0-7]+'
      }
      {
        'name': 'constant.numeric.float.curry'
        'match': '[0-9]+(?:\\.[0-9]+[eE][+-]?|\\.|[eE][+-]?)[0-9]+'
      }
      {
        'name': 'constant.numeric.decimal.curry'
        'match': '[0-9]+'
      }
    ]
  'operator':
    'name': 'keyword.operator.curry'
    'match': '(?!--+)[~!@#$%^&*+\-=<>?./|\\\\:]+'
    'captures':
      '0':
        'patterns': [
          {
            'name': 'support.other.operator.prelude.curry'
            'match': '(?<![~!@#$%^&*+\-=<>?./|\\\\:])(?:!!|\\$|\\$!|\\$!!|\\$#|\\$##|&|&&|&>|\\*|\\+|\\+\\+|-|\\.|/=|<|<=|=:<=|=:=|==|>|>=|>>|>>=|\\?|\\|\\|)(?![~!@#$%^&*+\-=<>?./|\\\\:])'
          }
        ]
  'pipe_separator':
    'name': 'punctuation.separator.pipe.curry'
    'match': '(?<![~!@#$%^&*+\-=<>?./|\\\\:])\\|(?![~!@#$%^&*+\-=<>?./|\\\\:])'
  'pragma':
    'name': 'meta.preprocessor.curry'
    'begin': '{-#'
    'end': '#-}'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.preprocessor.begin.curry'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.preprocessor.end.curry'
    'patterns': [
      {
        'name': 'keyword.other.preprocessor.curry'
        'match': '(?<=^|\\s)[A-Z_]+(?=\\s)'
      }
    ]
  'quoted_character':
    'name': 'string.quoted.single.curry'
    'match': '(\')([\\ -\\[\\]-~\\\\]|(?:\\\\(?:NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'&]))|(?:\\\\[0-9]+)|(?:\\\\o[0-7]+)|(?:\\\\x[0-9A-Fa-f]+)|(?:\\\\\\^[A-Z@\\[\\]^_]))(\')'
    'captures':
      '1':
        'name': 'punctuation.definition.string.begin.curry'
      '2':
        'patterns': [
          {
            'include': '#escaped_character'
          }
        ]
      '3':
        'name': 'punctuation.definition.string.end.curry'
  'record_field_declaration':
    'name': 'meta.declaration.record-field.curry'
    'contentName': 'meta.type-signature.curry'
    'begin': '((?:(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?[a-z](?:\\w|\')*)|(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?\\((?!--+\\))[~!@#$%^&*+\-=<>?./|\\\\:]+\\)))(?:\\s*,\\s*(?:(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?[a-z](?:\\w|\')*)|(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?\\((?!--+\\))[~!@#$%^&*+\-=<>?./|\\\\:]+\\))))*)\\s*(::)(?![~!@#$%^&*+\-=<>?./|\\\\:])'
    'end': '(?=,?\\s*((?:(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?[a-z](?:\\w|\')*)|(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?\\((?!--+\\))[~!@#$%^&*+\-=<>?./|\\\\:]+\\)))(?:\\s*,\\s*(?:(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?[a-z](?:\\w|\')*)|(?:(?:(?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*\\.)?\\((?!--+\\))[~!@#$%^&*+\-=<>?./|\\\\:]+\\))))*)\\s*(::)(?![~!@#$%^&*+\-=<>?./|\\\\:])|})'
    'beginCaptures':
      '1':
        'patterns': [
          {
            'include': '#attribute_name'
          }
          {
            'include': '#infix_operator'
          }
          {
            'include': '#comma_separator'
          }
        ]
      '2':
        'name': 'keyword.other.double-colon.curry'
    'patterns': [
      {
        'include': '#type_signature'
      }
    ]
  'string':
    'name': 'string.quoted.double.curry'
    'begin': '"'
    'end': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.curry'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.curry'
    'patterns': [
      {
        'include': '#escaped_character'
      }
    ]
  'type_alias':
    'name': 'meta.declaration.type.curry'
    'contentName': 'meta.type-signature.curry'
    'begin': '^([ \\t]*)(type)(?=\\s)'
    'end': '^(?!\\1[ \\t]|[ \\t]*$)'
    'beginCaptures':
      '2':
        'name': 'keyword.other.type.curry'
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#assignment_operator'
      }
      {
        'include': '#type_signature'
      }
    ]
  'type_constructor_name':
    'match': '(?:((?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*)(\\.))?([A-Z](?:\\w|\')*)'
    'captures':
      '1':
        'name': 'entity.name.module.curry'
      '2':
        'name': 'punctuation.separator.dot.curry'
      '3':
        'name': 'entity.name.tag.curry'
        'patterns': [
          {
            'name': 'support.tag.prelude.$0.curry'
            'match': '(?<!\\w|\')(?:LT|EQ|GT|Left|Right|Nothing|Just|True|False|IOError|UserError|FailError|NondetError)(?!\\w|\')'
          }
        ]
  'type_name':
    'match': '(?:((?:[A-Z](?:\\w|\')*\\.)*[A-Z](?:\\w|\')*)(\\.))?([A-Z](?:\\w|\')*)'
    'captures':
      '1':
        'name': 'entity.name.module.curry'
      '2':
        'name': 'punctuation.separator.dot.curry'
      '3':
        'name': 'entity.name.type.curry'
        'patterns': [
          {
            'name': 'support.type.prelude.$0.curry'
            'match': '(?<!\\w|\')(?:Bool|Char|DET|Either|Float|Int|IO|IOError|Maybe|Ordering|String|Success)(?!\\w|\')'
          }
        ]
  'type_signature':
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#unit'
      }
      {
        'name': 'keyword.other.arrow.curry'
        'match': '(?<![~!@#$%^&*+\-=<>?./|\\\\:])->(?![~!@#$%^&*+\-=<>?./|\\\\:])'
      }
      {
        'include': '#operator'
      }
      {
        'name': 'variable.other.generic-type.curry'
        'match': '(?:[a-z](?:\\w|\')*)|_'
      }
      {
        'include': '#type_name'
      }
    ]
  'unit':
    'name': 'constant.language.unit.curry'
    'match': '\\(\\)'