'.source.curry':
  'editor':
    'commentStart': '-- '
    'decreaseNextIndentPattern': '^\\s*$'
    'increaseIndentPattern': '(((=|\\bdo|\\bwhere|\\bthen|\\belse|\\bof)\\s*)|(\\bif(?!.*\\bthen\\b.*\\belse\\b.*).*))$'